# Service configuration
PROJECT_NAME="AlgoVerse API"

# CORS configurations (e.g. Next.js server origins)
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# Firebase Settings
FIREBASE_SERVICE_ACCOUNT_PATH="service-account.json"

# Qdrant Vector DB Settings
QDRANT_HOST="http://localhost:6333"
QDRANT_API_KEY=""

# Generative AI API Keys
GEMINI_API_KEY=""
GROQ_API_KEY=""
